<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>

    <target
      name="console"
      xsi:type="ColoredConsole"
     layout="${date:format=HH\:mm\:ss}|${level}|${message}" />

    <target
      name="logfile"
      xsi:type="File"
      fileName="${basedir}/Logs/Log-${shortdate}.Log"
     layout="${message}" />

      <target
      name="auditfile"
      xsi:type="File"
      fileName="${basedir}/Logs/Audit-${shortdate}.Log"
     layout="${message}" />

    <target
    name="eventLog"
    xsi:type="EventLog"
    machineName="."
    source="AvventoWebService"
    log="Application"
    layout="${message}" />

  <!-- <target 
	name="Mail" 
	xsi:type="Mail" 
	subject="Error Received" 
	body="${message}"      
	
         to="jseitgroup@jamstockex.com"
         from="jsereporter@jamstockex.com"
         Encoding="UTF-8"
         smtpUsername="jseitgroup@jamstockex.com"
         enableSsl="True"
         smtpPassword="P@ssw0rd01"
         smtpAuthentication="Basic"
         smtpServer="exrelay-ca1.serverdata.net"
         smtpPort="25" /> 
 
  

    <target name="GMail" xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="465"
            smtpAuthentication="Basic"
            smtpUserName="pjlutility@gmail.com"
            smtpPassword="K0ldas!c3"
            enableSsl="true"
            from="pjlutility@gmail.com"
            to="peter.robinson.on@gmail.com"
            cc="realyute@gmail.com"
          />-->
  
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,logfile" />
   <!-- <logger name="*" minlevel="Trace" writeTo="console,file,eventLog,GMail,Mail" /> -->
  </rules>
</nlog>