<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AvventoWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <bindings>
    <wsHttpBinding>
    <binding name="wshttpbinding"
             closeTimeout="00:10:10"
             openTimeout="00:10:10"
             receiveTimeout="00:10:10"
             sendTimeout="00:10:00"
             maxBufferPoolSize="2147483647"
             maxReceivedMessageSize="2147483647"
             >
      <reliableSession enabled="true" inactivityTimeout="00:10:45" />
      <security mode="None">
        <message clientCredentialType="None"/>  
      </security>
          <readerQuotas maxDepth="32"  maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"  maxNameTableCharCount="2147483647"/>
        </binding>
      </wsHttpBinding>

      <wsDualHttpBinding>
        <binding name="wsdualhttpbinding"
                 closeTimeout="00:10:10"
                 openTimeout="00:10:10"
                 receiveTimeout="00:10:10"
                 sendTimeout="00:10:00"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"
             >
          <security mode="None">
            <message clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="32"  maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"  maxNameTableCharCount="2147483647"/>
        </binding>
      </wsDualHttpBinding>
    <mexHttpBinding>
      <binding name="meta"/>
    </mexHttpBinding>
    </bindings>
    <services>
      <service name="AvventoWebService.AvventoService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="wsHttpBinding" contract="AvventoWebService.IAvventoService" behaviorConfiguration="web"  bindingConfiguration="wshttpbinding">
          <identity>
            <dns value="localhost"/>
          </identity>      
        </endpoint>
      </service>
      <service name="AvventoWebService.AvventoServiceEvents" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="wsDualHttpBinding" contract="AvventoWebService.IAvventoServiceEvents" behaviorConfiguration="web"  bindingConfiguration="wsdualhttpbinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
       <!-- <add name="CustomErrorHandler" type="AvventoWebService.Helpers.MyCustomBehaviorExtensionElement,AvventoWebService,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>-->
      </behaviorExtensions>
    </extensions>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <!--  <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">-->
      <!--<serviceActivations>
        <add service= "AvventoWebService.AvventoService"/>
      </serviceActivations> -->
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <applicationSettings>
    <AvventoWebService.Properties.Settings>
      <setting name="ProxyIPAddress" serializeAs="String">
        <value>10.100.100.202</value>
      </setting>
      <setting name="MarketNumber" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="XmlSchemas" serializeAs="String">
        <value />
      </setting>
      <setting name="DownloadDataSchemaFile" serializeAs="String">
        <value>DataDownload.xsd</value>
      </setting>
      <setting name="SendOrderInsertSchemaFile" serializeAs="String">
        <value>SubmitOrder.xsd</value>
      </setting>
      <setting name="SuspendActiveOrderSchemaFile" serializeAs="String">
        <value>SuspendActiveOrder.xsd</value>
      </setting>
      <setting name="DeleteActiveOrderSchemaFile" serializeAs="String">
        <value>DeleteActiveOrder.xsd</value>
      </setting>
      <setting name="ResubmitSuspendedOrderSchemaFile" serializeAs="String">
        <value>ResubmitSuspendedOrder.xsd</value>
      </setting>
      <setting name="ReduceOrderQuantitySchemaFile" serializeAs="String">
        <value>ReduceActiveOrder.xsd</value>
      </setting>
      <setting name="SendCancelAllOrdersSchemaFile" serializeAs="String">
        <value>CancelAllOrders.xsd</value>
      </setting>
      <setting name="EditSuspendedOrderSchemaFile" serializeAs="String">
        <value>EditSuspendedOrder.xsd</value>
      </setting>
      <setting name="EditActiveOrderSchemaFile" serializeAs="String">
        <value>EditActiveOrder.xsd</value>
      </setting>
      <setting name="SubmitBulkOrderSchemaFile" serializeAs="String">
        <value>SubmitBulkOrder.xsd</value>
      </setting>
      <setting name="UseModelValidation" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>8028</value>
      </setting>
      <setting name="WaitTime" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="WaitRetryAttempts" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="InstrumentSubscriptionSchemaFile" serializeAs="String">
        <value>InstrumentSubscription.xsd</value>
      </setting>
      <setting name="IndicesSubscriptionSchemaFile" serializeAs="String">
        <value>IndicesSubscription.xsd</value>
      </setting>
      <setting name="AvventoFeedServiceContract" serializeAs="String">
        <value>AtsWebFeedService</value>
      </setting>
      <setting name="DatasetForHistoricalDataRetrieval" serializeAs="String">
        <value>7,8,16,89,129,146,5</value>
      </setting>
      <setting name="AvventoFeedServiceWsdl" serializeAs="String">
        <value>http://10.240.18.196/FeedWebService/FeedWebService.svc?singleWsdl</value>
      </setting>
      <setting name="AvventoFeedServiceEndPoint" serializeAs="String">
        <value>http://10.240.18.196/FeedWebService/FeedWebService.svc</value>
      </setting>
      <setting name="MaxRecordCount" serializeAs="String">
        <value>5000</value>
      </setting>
    </AvventoWebService.Properties.Settings>
  </applicationSettings>
</configuration>